@import 'base/fonts.css';
/**************************************
	01 - GLOBAL START
**************************************/
html, body{
	height: 100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'PT Mono', monospace;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	text-align: left;
	position: relative;
}
img{
	max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 0;
}
a{
	text-decoration: none;
}
ul{
	margin-bottom: 0;
}
section{
	position: relative;
}
.bg-1{
	background: linear-gradient(to bottom, #090a0f 0%, #1b2735 100%);
}
.bg-2{
	background: linear-gradient(to bottom, #1b2735 0%, #090a0f 100%);
}
.star-box{
	position: absolute;
	z-index: 1;
}
section .site-text{
	z-index: 10;
}
/**************************************
	01 - GLOBAL END
**************************************/

/**************************************
	02 - CONTAINER START
**************************************/
.custom-container{
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
  	padding-left: var(--bs-gutter-x, 0.75rem);
  	margin-right: auto;
  	margin-left: auto;
}
@media (min-width: 576px){
  	.custom-container{
		max-width: 540px;
	}
}
@media (min-width: 768px){
  	.custom-container{
		max-width: 720px;
  	}
}
@media (min-width: 992px){
  	.custom-container{
    	max-width: 960px;
  	}
}
@media (min-width: 1200px){
  	.custom-container{
    	max-width: 1140px;
 	}
}
@media (min-width: 1400px){
  	.custom-container{
    	max-width: 1320px;
  	}
}
@media (min-width: 1600px){
  	.custom-container{
    	max-width: 1500px;
  	}
}
/**************************************
	02 - CONTAINER END
**************************************/

/**************************************
	03 - HERO START
**************************************/
.full-screen {
    min-height: 100vh;
}
.hero {
	position: relative;
}
.hero .fp-tableCell{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: stretch;
}
.hero .m83{
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	font-weight: 400;
	font-size: 120px;
	letter-spacing: 10px;
}
.hero .x{
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	font-weight: 700;
	font-size: 70px;
	margin-right: 50px;
	margin-left: 50px;
}
.hero .superdao{
	font-family: 'Orbitron', sans-serif;
	font-weight: bold;
	font-size: 120px;
	background: -webkit-linear-gradient(0deg, #6641A6, #CB5C90, #E76331, #FDD421);
	background-size: 48rem auto;
	background-position: left center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: phaser 2s infinite;
	animation-fill-mode: forwards;
	animation-direction: alternate;
}
@keyframes phaser {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.hero-text{
  text-align: center;
}
/**************************************
	03 - HERO END
**************************************/

/**************************************
	04 - GLITCH START
**************************************/
.glitch-num {
  position: relative;
  display: inline-block;
}
.glitch-num::before,
.glitch-num::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch-num::before {
  left: 4px;
  text-shadow: -4px 0 rgba(146, 87, 235, 1);
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch-num::after {
  left: -4px;
  text-shadow: -4px 0 rgba(216, 97, 35, 1);
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(48px, 9999px, 24px, 0);
  }
  4.166666666666666% {
    clip: rect(78px, 9999px, 50px, 0);
  }
  8.333333333333332% {
    clip: rect(120px, 9999px, 11px, 0);
  }
  12.5% {
    clip: rect(95px, 9999px, 23px, 0);
  }
  16.666666666666664% {
    clip: rect(119px, 9999px, 122px, 0);
  }
  20.833333333333336% {
    clip: rect(105px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(104px, 9999px, 17px, 0);
  }
  29.166666666666668% {
    clip: rect(146px, 9999px, 25px, 0);
  }
  33.33333333333333% {
    clip: rect(139px, 9999px, 33px, 0);
  }
  37.5% {
    clip: rect(20px, 9999px, 110px, 0);
  }
  41.66666666666667% {
    clip: rect(58px, 9999px, 26px, 0);
  }
  45.83333333333333% {
    clip: rect(25px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(117px, 9999px, 127px, 0);
  }
  54.166666666666664% {
    clip: rect(125px, 9999px, 100px, 0);
  }
  58.333333333333336% {
    clip: rect(130px, 9999px, 80px, 0);
  }
  62.5% {
    clip: rect(61px, 9999px, 59px, 0);
  }
  66.66666666666666% {
    clip: rect(18px, 9999px, 94px, 0);
  }
  70.83333333333334% {
    clip: rect(16px, 9999px, 95px, 0);
  }
  75% {
    clip: rect(48px, 9999px, 22px, 0);
  }
  79.16666666666666% {
    clip: rect(81px, 9999px, 133px, 0);
  }
  83.33333333333334% {
    clip: rect(32px, 9999px, 2px, 0);
  }
  87.5% {
    clip: rect(38px, 9999px, 22px, 0);
  }
  91.66666666666666% {
    clip: rect(39px, 9999px, 27px, 0);
  }
  95.83333333333334% {
    clip: rect(41px, 9999px, 112px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 83px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(48px, 9999px, 24px, 0);
  }
  4.166666666666666% {
    clip: rect(78px, 9999px, 50px, 0);
  }
  8.333333333333332% {
    clip: rect(120px, 9999px, 11px, 0);
  }
  12.5% {
    clip: rect(95px, 9999px, 23px, 0);
  }
  16.666666666666664% {
    clip: rect(119px, 9999px, 122px, 0);
  }
  20.833333333333336% {
    clip: rect(105px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(104px, 9999px, 17px, 0);
  }
  29.166666666666668% {
    clip: rect(146px, 9999px, 25px, 0);
  }
  33.33333333333333% {
    clip: rect(139px, 9999px, 33px, 0);
  }
  37.5% {
    clip: rect(20px, 9999px, 110px, 0);
  }
  41.66666666666667% {
    clip: rect(58px, 9999px, 26px, 0);
  }
  45.83333333333333% {
    clip: rect(25px, 9999px, 100px, 0);
  }
  50% {
    clip: rect(117px, 9999px, 127px, 0);
  }
  54.166666666666664% {
    clip: rect(125px, 9999px, 100px, 0);
  }
  58.333333333333336% {
    clip: rect(130px, 9999px, 80px, 0);
  }
  62.5% {
    clip: rect(61px, 9999px, 59px, 0);
  }
  66.66666666666666% {
    clip: rect(18px, 9999px, 94px, 0);
  }
  70.83333333333334% {
    clip: rect(16px, 9999px, 95px, 0);
  }
  75% {
    clip: rect(48px, 9999px, 22px, 0);
  }
  79.16666666666666% {
    clip: rect(81px, 9999px, 133px, 0);
  }
  83.33333333333334% {
    clip: rect(32px, 9999px, 2px, 0);
  }
  87.5% {
    clip: rect(38px, 9999px, 22px, 0);
  }
  91.66666666666666% {
    clip: rect(39px, 9999px, 27px, 0);
  }
  95.83333333333334% {
    clip: rect(41px, 9999px, 112px, 0);
  }
  100% {
    clip: rect(21px, 9999px, 83px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(86px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 41px, 0);
  }
  13.333333333333334% {
    clip: rect(53px, 9999px, 123px, 0);
  }
  16.666666666666664% {
    clip: rect(136px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(51px, 9999px, 68px, 0);
  }
  23.333333333333332% {
    clip: rect(35px, 9999px, 121px, 0);
  }
  26.666666666666668% {
    clip: rect(111px, 9999px, 141px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 100px, 0);
  }
  33.33333333333333% {
    clip: rect(103px, 9999px, 53px, 0);
  }
  36.666666666666664% {
    clip: rect(93px, 9999px, 54px, 0);
  }
  40% {
    clip: rect(29px, 9999px, 1px, 0);
  }
  43.333333333333336% {
    clip: rect(38px, 9999px, 67px, 0);
  }
  46.666666666666664% {
    clip: rect(35px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(142px, 9999px, 48px, 0);
  }
  53.333333333333336% {
    clip: rect(94px, 9999px, 40px, 0);
  }
  56.666666666666664% {
    clip: rect(70px, 9999px, 91px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 114px, 0);
  }
  63.33333333333333% {
    clip: rect(109px, 9999px, 29px, 0);
  }
  66.66666666666666% {
    clip: rect(51px, 9999px, 128px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 91px, 0);
  }
  73.33333333333333% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  76.66666666666667% {
    clip: rect(17px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(90px, 9999px, 15px, 0);
  }
  83.33333333333334% {
    clip: rect(77px, 9999px, 150px, 0);
  }
  86.66666666666667% {
    clip: rect(137px, 9999px, 64px, 0);
  }
  90% {
    clip: rect(88px, 9999px, 140px, 0);
  }
  93.33333333333333% {
    clip: rect(20px, 9999px, 138px, 0);
  }
  96.66666666666667% {
    clip: rect(61px, 9999px, 22px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 40px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(86px, 9999px, 72px, 0);
  }
  10% {
    clip: rect(41px, 9999px, 41px, 0);
  }
  13.333333333333334% {
    clip: rect(53px, 9999px, 123px, 0);
  }
  16.666666666666664% {
    clip: rect(136px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(51px, 9999px, 68px, 0);
  }
  23.333333333333332% {
    clip: rect(35px, 9999px, 121px, 0);
  }
  26.666666666666668% {
    clip: rect(111px, 9999px, 141px, 0);
  }
  30% {
    clip: rect(27px, 9999px, 100px, 0);
  }
  33.33333333333333% {
    clip: rect(103px, 9999px, 53px, 0);
  }
  36.666666666666664% {
    clip: rect(93px, 9999px, 54px, 0);
  }
  40% {
    clip: rect(29px, 9999px, 1px, 0);
  }
  43.333333333333336% {
    clip: rect(38px, 9999px, 67px, 0);
  }
  46.666666666666664% {
    clip: rect(35px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(142px, 9999px, 48px, 0);
  }
  53.333333333333336% {
    clip: rect(94px, 9999px, 40px, 0);
  }
  56.666666666666664% {
    clip: rect(70px, 9999px, 91px, 0);
  }
  60% {
    clip: rect(1px, 9999px, 114px, 0);
  }
  63.33333333333333% {
    clip: rect(109px, 9999px, 29px, 0);
  }
  66.66666666666666% {
    clip: rect(51px, 9999px, 128px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 91px, 0);
  }
  73.33333333333333% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  76.66666666666667% {
    clip: rect(17px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(90px, 9999px, 15px, 0);
  }
  83.33333333333334% {
    clip: rect(77px, 9999px, 150px, 0);
  }
  86.66666666666667% {
    clip: rect(137px, 9999px, 64px, 0);
  }
  90% {
    clip: rect(88px, 9999px, 140px, 0);
  }
  93.33333333333333% {
    clip: rect(20px, 9999px, 138px, 0);
  }
  96.66666666666667% {
    clip: rect(61px, 9999px, 22px, 0);
  }
  100% {
    clip: rect(60px, 9999px, 40px, 0);
  }
}
/**************************************
	04 - GLITCH END
**************************************/

/**************************************
	05 - TICKER START
**************************************/
.main-i{
	font-family: 'Montserrat', cursive;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: ghostwhite;
}
.white{
	font-family: 'Press Start 2P', cursive;
	color: #fff;
	font-size: 65px;
	font-weight: 700;
	letter-spacing: 5px;
}
.white-1{
	font-family: 'Bangers', cursive;
	color: #fff;
	font-weight: 700;
	letter-spacing: 10px;
}
.out-1{
	font-family: 'Orbitron', sans-serif;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: ghostwhite;
	letter-spacing: 5px;
}
.tickerwrapper, .tickerwrapper-1 {
	position:relative;
	width: 100%; 
	overflow: hidden; 
}
ul.list, ul.list-1 {
	position:relative;
	display:inline-block;
	list-style:none;
	vertical-align: middle;
}
ul.list.cloned, ul.list-1.cloned-1 {
	position:absolute;
	top:0;
	left:0;
}
ul.list li, ul.list-1 li {
	float: left;
	font-size: 100px;  
	font-weight: 700;
	text-transform: uppercase;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #fff;
	color: transparent;
}
.ticker-box-1{
	border-bottom: 0px solid #fff;
}
.ticker-box-2{
	border-bottom: 0px solid #fff;
	border-top: 0px solid #fff;
}
/**************************************
	05 - TICKER END
**************************************/

/**************************************
	06 - ABOUT START
**************************************/
.me-img{
	text-align: center;
}
.me-img img{
	text-align: center;
	max-width: 475px;
}
.text-block-about{
	padding: 30px;
	text-align: left;
}
.text-block-about p{
	font-size: 18px;
	margin-bottom: 20px;
	font-family: 'PT Mono', monospace;
	font-weight: 400;
	color: #fff;
}
.text-block-about h2{
	font-size: 24px;
	margin-bottom: 20px;
	font-family: 'PT Mono', monospace;
	font-weight: 600;
	color: #fff;
}
.h2-interview-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.h2-interview-box-h2{
	font-weight: bold;
    font-size: 48px;
    line-height: 92px;
    text-align: center;
    position: relative;
    color: #fff;
}
.h2-interview-box-h2::before {
    content: url(../images/divider-bg.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 16px;
}
.m83-p-last{
	margin-bottom: 0px;
}
/**************************************
	06 - ABOUT START
**************************************/

/**************************************
	07 - INTERVIEW START
**************************************/
.road-map{
	margin-top: 100px;
}
.main-question-1 h2{
	color: #fff;
	font-size: 36px;
	font-family: 'PT Mono', monospace;
	font-weight: 600;
	margin-bottom: 20px;
	position: relative;
}
.main-question-1 h2::before {
    content: url(../images/divider-bottom.png);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 16px;
}
.main-question-1 p{
	font-size: 17px;
	color: #fff;
	font-family: 'PT Mono', monospace;
}
.number-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.n-b-1 span{
	font-size: 150px;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
	font-weight: 700;
	text-align: center;
}
.n-b-2 span{
	font-size: 170px;
	color: #fff;
	font-family: 'Bangers', cursive;
	font-weight: 700;
	text-align: center;
}
.n-b-3 span{
	font-size: 140px;
	color: #fff;
	font-family: 'Press Start 2P', cursive;
	font-weight: 700;
	text-align: center;
}
.n-b-4 span{
	font-size: 170px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 366px 573px #FFF , 1330px 1115px #FFF , 897px 60px #FFF , 1219px 1715px #FFF , 212px 1745px #FFF , 594px 561px #FFF , 806px 1652px #FFF , 760px 209px #FFF , 907px 695px #FFF , 1042px 305px #FFF , 1476px 81px #FFF , 178px 1397px #FFF , 389px 779px #FFF , 1152px 1599px #FFF , 1132px 1446px #FFF , 1679px 1734px #FFF , 1496px 1347px #FFF , 1167px 1313px #FFF , 1049px 1150px #FFF , 509px 853px #FFF , 1188px 424px #FFF , 1925px 468px #FFF , 1598px 1600px #FFF , 989px 224px #FFF , 1598px 1081px #FFF , 973px 1084px #FFF , 1857px 1130px #FFF , 1004px 809px #FFF , 1814px 1449px #FFF , 1796px 379px #FFF , 12px 1064px #FFF , 1355px 1398px #FFF , 307px 1666px #FFF , 1330px 1671px #FFF , 389px 751px #FFF , 864px 74px #FFF , 1888px 1071px #FFF , 993px 385px #FFF , 310px 1681px #FFF , 1919px 12px #FFF , 972px 1371px #FFF , 1497px 253px #FFF , 428px 1794px #FFF , 1773px 391px #FFF , 857px 854px #FFF , 605px 1965px #FFF , 668px 59px #FFF , 959px 1203px #FFF , 837px 1479px #FFF , 1673px 1953px #FFF , 770px 626px #FFF , 1602px 376px #FFF , 70px 1889px #FFF , 400px 1085px #FFF , 491px 1106px #FFF , 1964px 1126px #FFF , 408px 1185px #FFF , 1492px 1364px #FFF , 265px 1838px #FFF , 273px 771px #FFF , 1997px 1773px #FFF , 1728px 207px #FFF , 1917px 1430px #FFF , 1718px 429px #FFF , 54px 242px #FFF , 885px 149px #FFF , 292px 1523px #FFF , 1337px 1809px #FFF , 1686px 1750px #FFF , 273px 307px #FFF , 1170px 290px #FFF , 178px 716px #FFF , 636px 637px #FFF , 1720px 1971px #FFF , 177px 458px #FFF , 153px 1644px #FFF , 1286px 1188px #FFF , 395px 1217px #FFF , 1630px 939px #FFF , 677px 1707px #FFF , 1791px 464px #FFF , 359px 396px #FFF , 799px 1290px #FFF , 353px 344px #FFF , 1122px 1795px #FFF , 1202px 368px #FFF , 1150px 324px #FFF , 1820px 56px #FFF , 344px 318px #FFF , 1710px 508px #FFF , 1832px 1749px #FFF , 1690px 1442px #FFF , 693px 256px #FFF , 208px 576px #FFF , 1411px 446px #FFF , 119px 1160px #FFF , 1737px 292px #FFF , 1144px 105px #FFF , 812px 684px #FFF , 1331px 396px #FFF , 310px 1037px #FFF , 906px 846px #FFF , 594px 299px #FFF , 948px 245px #FFF , 1496px 566px #FFF , 637px 560px #FFF , 1141px 1723px #FFF , 823px 838px #FFF , 419px 1599px #FFF , 1122px 624px #FFF , 1441px 955px #FFF , 714px 1642px #FFF , 700px 593px #FFF , 657px 79px #FFF , 1032px 1864px #FFF , 1392px 1182px #FFF , 852px 649px #FFF , 879px 1630px #FFF , 1269px 703px #FFF , 1548px 1304px #FFF , 1669px 1435px #FFF , 938px 437px #FFF , 1119px 1369px #FFF , 1238px 189px #FFF , 763px 1843px #FFF , 1976px 595px #FFF , 1417px 287px #FFF , 511px 1368px #FFF , 575px 626px #FFF , 580px 1471px #FFF , 654px 841px #FFF , 1652px 1473px #FFF , 1196px 960px #FFF , 150px 1462px #FFF , 228px 643px #FFF , 735px 1916px #FFF , 1337px 1083px #FFF , 249px 17px #FFF , 566px 1550px #FFF , 1348px 1122px #FFF , 225px 1671px #FFF , 325px 1261px #FFF , 999px 1563px #FFF , 459px 1067px #FFF , 1257px 5px #FFF , 1985px 1050px #FFF , 1717px 769px #FFF , 282px 139px #FFF , 311px 1770px #FFF , 493px 121px #FFF , 1522px 1606px #FFF , 188px 1548px #FFF , 1304px 690px #FFF , 1671px 1348px #FFF , 891px 1793px #FFF , 1381px 322px #FFF , 697px 961px #FFF , 121px 376px #FFF , 954px 1974px #FFF , 186px 1370px #FFF , 259px 504px #FFF , 1175px 476px #FFF , 1142px 1809px #FFF , 1522px 1334px #FFF , 1446px 242px #FFF , 7px 1115px #FFF , 1862px 1909px #FFF , 1924px 870px #FFF , 212px 1049px #FFF , 457px 845px #FFF , 118px 1301px #FFF , 916px 582px #FFF , 1110px 994px #FFF , 1614px 269px #FFF , 1138px 678px #FFF , 1769px 732px #FFF , 1208px 643px #FFF , 1650px 1603px #FFF , 241px 1394px #FFF , 917px 1038px #FFF , 27px 1758px #FFF , 756px 1294px #FFF , 238px 1879px #FFF , 843px 1635px #FFF , 1814px 912px #FFF , 1929px 1212px #FFF , 385px 10px #FFF , 244px 7px #FFF , 1200px 1190px #FFF , 1110px 1968px #FFF , 1521px 874px #FFF , 447px 1972px #FFF , 1927px 1016px #FFF , 618px 937px #FFF , 937px 235px #FFF , 1837px 1834px #FFF , 859px 1030px #FFF , 1651px 1979px #FFF , 174px 1145px #FFF , 637px 1236px #FFF , 509px 1185px #FFF , 1517px 1532px #FFF , 722px 591px #FFF , 1809px 84px #FFF , 1763px 1306px #FFF , 1521px 1399px #FFF , 207px 1445px #FFF , 1763px 840px #FFF , 1620px 1200px #FFF , 912px 63px #FFF , 1921px 1714px #FFF , 1284px 924px #FFF , 1201px 1614px #FFF , 1506px 1217px #FFF , 1528px 678px #FFF , 888px 1651px #FFF , 1748px 957px #FFF , 819px 1611px #FFF , 1692px 1960px #FFF , 921px 505px #FFF , 55px 76px #FFF , 1996px 755px #FFF , 1455px 1554px #FFF , 657px 1459px #FFF , 1065px 92px #FFF , 548px 1954px #FFF , 175px 594px #FFF , 266px 345px #FFF , 1568px 995px #FFF , 364px 1797px #FFF , 865px 1428px #FFF , 232px 415px #FFF , 890px 1817px #FFF , 1588px 491px #FFF , 1558px 126px #FFF , 1266px 140px #FFF , 1959px 843px #FFF , 454px 579px #FFF , 146px 1708px #FFF , 1828px 1920px #FFF , 1815px 808px #FFF , 1490px 387px #FFF , 957px 1838px #FFF , 1970px 733px #FFF , 100px 304px #FFF , 861px 1408px #FFF , 250px 202px #FFF , 420px 669px #FFF , 1635px 133px #FFF , 1829px 1098px #FFF , 337px 1527px #FFF , 808px 1724px #FFF , 1529px 81px #FFF , 945px 1933px #FFF , 767px 1443px #FFF , 1898px 1468px #FFF , 1458px 794px #FFF , 1078px 922px #FFF , 1516px 1560px #FFF , 64px 486px #FFF , 823px 1924px #FFF , 1051px 1040px #FFF , 1601px 1737px #FFF , 1791px 404px #FFF , 1620px 790px #FFF , 1022px 426px #FFF , 545px 395px #FFF , 820px 260px #FFF , 1133px 525px #FFF , 79px 1250px #FFF , 1459px 780px #FFF , 1515px 1242px #FFF , 540px 1252px #FFF , 1938px 214px #FFF , 289px 1150px #FFF , 1458px 209px #FFF , 27px 1052px #FFF , 1139px 1145px #FFF , 1660px 979px #FFF , 1551px 1246px #FFF , 271px 689px #FFF , 1695px 1539px #FFF , 1592px 1356px #FFF , 248px 351px #FFF , 1008px 1724px #FFF , 1037px 871px #FFF , 1997px 656px #FFF , 1903px 800px #FFF , 144px 1329px #FFF , 556px 491px #FFF , 265px 1220px #FFF , 1102px 1902px #FFF , 782px 1001px #FFF , 1770px 1299px #FFF , 1032px 1402px #FFF , 844px 1497px #FFF , 1510px 1638px #FFF , 1334px 1867px #FFF , 149px 430px #FFF , 330px 865px #FFF , 659px 260px #FFF , 255px 178px #FFF , 1660px 178px #FFF , 458px 1776px #FFF , 1557px 420px #FFF , 451px 399px #FFF , 987px 1251px #FFF , 653px 1871px #FFF , 1325px 371px #FFF , 402px 255px #FFF , 522px 1374px #FFF , 1733px 530px #FFF , 175px 232px #FFF , 621px 236px #FFF , 1445px 1685px #FFF , 1871px 409px #FFF , 1734px 317px #FFF , 1367px 828px #FFF , 726px 856px #FFF , 134px 105px #FFF , 1374px 1314px #FFF , 859px 475px #FFF , 782px 1702px #FFF , 378px 779px #FFF , 912px 1216px #FFF , 954px 1264px #FFF , 1380px 581px #FFF , 1530px 1043px #FFF , 1489px 853px #FFF , 1689px 1218px #FFF , 1835px 20px #FFF , 383px 806px #FFF , 457px 759px #FFF , 1532px 881px #FFF , 295px 414px #FFF , 459px 1373px #FFF , 1765px 1712px #FFF , 333px 783px #FFF , 1659px 1236px #FFF , 1283px 566px #FFF , 1271px 427px #FFF , 939px 643px #FFF , 918px 416px #FFF , 1635px 829px #FFF , 1321px 1739px #FFF , 231px 725px #FFF , 213px 493px #FFF , 1711px 735px #FFF , 674px 730px #FFF , 1866px 436px #FFF , 103px 1929px #FFF , 735px 1608px #FFF , 92px 1606px #FFF , 1941px 593px #FFF , 1141px 83px #FFF , 445px 122px #FFF , 506px 730px #FFF , 927px 1993px #FFF , 203px 649px #FFF , 1625px 354px #FFF , 1066px 962px #FFF , 1231px 459px #FFF , 1105px 454px #FFF , 1277px 1469px #FFF , 1069px 440px #FFF , 1477px 91px #FFF , 747px 1922px #FFF , 1740px 389px #FFF , 1680px 1272px #FFF , 491px 1434px #FFF , 100px 1691px #FFF , 1966px 34px #FFF , 637px 1168px #FFF , 407px 83px #FFF , 1416px 34px #FFF , 1573px 1413px #FFF , 1363px 298px #FFF , 689px 1396px #FFF , 1991px 289px #FFF , 167px 1002px #FFF , 789px 1716px #FFF , 1269px 662px #FFF , 868px 1012px #FFF , 1532px 451px #FFF , 124px 1840px #FFF , 1567px 1541px #FFF , 163px 450px #FFF , 1178px 794px #FFF , 139px 1739px #FFF , 264px 256px #FFF , 525px 1394px #FFF , 1614px 302px #FFF , 1983px 952px #FFF , 1265px 1667px #FFF , 1287px 556px #FFF , 1199px 1652px #FFF , 1881px 995px #FFF , 1067px 1181px #FFF , 624px 312px #FFF , 1572px 216px #FFF , 1307px 1631px #FFF , 1093px 1665px #FFF , 411px 324px #FFF , 489px 1106px #FFF , 506px 1280px #FFF , 1609px 1933px #FFF , 22px 115px #FFF , 845px 1626px #FFF , 1528px 1742px #FFF , 298px 1671px #FFF , 1377px 1759px #FFF , 872px 1750px #FFF , 1057px 346px #FFF , 395px 1870px #FFF , 249px 1227px #FFF , 1360px 1635px #FFF , 690px 1755px #FFF , 288px 573px #FFF , 215px 507px #FFF , 799px 1604px #FFF , 378px 1243px #FFF , 108px 283px #FFF , 1871px 621px #FFF , 1364px 727px #FFF , 1117px 1926px #FFF , 1034px 762px #FFF , 1755px 886px #FFF , 1212px 574px #FFF , 1219px 1407px #FFF , 82px 283px #FFF , 145px 1508px #FFF , 465px 660px #FFF , 266px 74px #FFF , 1450px 1444px #FFF , 189px 1865px #FFF , 331px 1843px #FFF , 82px 1382px #FFF , 166px 973px #FFF , 828px 1156px #FFF , 1607px 1538px #FFF , 895px 1019px #FFF , 1267px 937px #FFF , 476px 1182px #FFF , 921px 1539px #FFF , 109px 592px #FFF , 1352px 1556px #FFF , 789px 448px #FFF , 382px 1171px #FFF , 614px 838px #FFF , 913px 577px #FFF , 556px 1501px #FFF , 1078px 867px #FFF , 1275px 626px #FFF , 1228px 1552px #FFF , 1548px 1217px #FFF , 1203px 7px #FFF , 824px 1967px #FFF , 1650px 1616px #FFF , 736px 633px #FFF , 723px 1827px #FFF , 1000px 116px #FFF , 1149px 1774px #FFF , 149px 1214px #FFF , 1490px 1555px #FFF , 1281px 881px #FFF , 1972px 1308px #FFF , 1973px 136px #FFF , 497px 870px #FFF , 307px 1368px #FFF , 1179px 1080px #FFF , 1535px 265px #FFF , 569px 854px #FFF , 1536px 1991px #FFF , 285px 630px #FFF , 790px 1668px #FFF , 809px 1686px #FFF , 1907px 972px #FFF , 453px 1001px #FFF , 212px 1415px #FFF , 1840px 1554px #FFF , 91px 369px #FFF , 480px 1251px #FFF , 1968px 266px #FFF , 934px 628px #FFF , 1719px 1987px #FFF , 525px 508px #FFF , 535px 1987px #FFF , 68px 36px #FFF , 1165px 249px #FFF , 1202px 955px #FFF , 268px 1210px #FFF , 458px 1838px #FFF , 1983px 927px #FFF , 696px 1845px #FFF , 1938px 689px #FFF , 788px 977px #FFF , 182px 1116px #FFF , 345px 1929px #FFF , 1783px 1239px #FFF , 797px 1528px #FFF , 1371px 1500px #FFF , 152px 1498px #FFF , 665px 1690px #FFF , 481px 1728px #FFF , 971px 3px #FFF , 191px 1982px #FFF , 1163px 644px #FFF , 1217px 789px #FFF , 1138px 1377px #FFF , 928px 231px #FFF , 959px 1707px #FFF , 291px 377px #FFF , 1605px 1913px #FFF , 431px 826px #FFF , 445px 353px #FFF , 935px 1595px #FFF , 1714px 33px #FFF , 348px 1835px #FFF , 782px 964px #FFF , 1175px 1285px #FFF , 653px 1685px #FFF , 470px 1427px #FFF , 1052px 1433px #FFF , 860px 1614px #FFF , 1169px 872px #FFF , 1863px 1755px #FFF , 1541px 1449px #FFF , 1408px 787px #FFF , 1793px 1921px #FFF , 1973px 1726px #FFF , 577px 138px #FFF , 1856px 818px #FFF , 1219px 548px #FFF , 1634px 32px #FFF , 1775px 1408px #FFF , 16px 631px #FFF , 806px 793px #FFF , 676px 1197px #FFF , 1319px 1327px #FFF , 1710px 1138px #FFF , 793px 1847px #FFF , 1563px 208px #FFF , 621px 1429px #FFF , 1616px 1776px #FFF , 114px 1861px #FFF , 1062px 691px #FFF , 119px 1216px #FFF , 22px 731px #FFF , 604px 1978px #FFF , 1313px 15px #FFF , 769px 925px #FFF , 155px 1615px #FFF , 717px 1712px #FFF , 1321px 577px #FFF , 410px 1508px #FFF , 1111px 1280px #FFF , 757px 1275px #FFF , 1237px 1529px #FFF , 1119px 735px #FFF , 1065px 1014px #FFF , 935px 271px #FFF , 840px 1075px #FFF , 1163px 213px #FFF , 913px 326px #FFF , 271px 205px #FFF , 18px 1313px #FFF , 1293px 1034px #FFF , 1405px 747px #FFF , 1107px 1791px #FFF , 530px 1441px #FFF , 1836px 817px #FFF , 1728px 1396px #FFF , 1050px 441px #FFF , 1431px 1109px #FFF , 1888px 1972px #FFF , 142px 1756px #FFF , 1836px 475px #FFF , 1448px 509px #FFF , 1178px 1669px #FFF , 1460px 981px #FFF , 358px 699px #FFF , 295px 1503px #FFF , 347px 766px #FFF , 467px 708px #FFF , 1876px 673px #FFF , 1259px 1688px #FFF , 627px 690px #FFF , 1455px 1473px #FFF , 1707px 434px #FFF , 542px 1211px #FFF , 1136px 1296px #FFF , 1209px 1007px #FFF , 1208px 651px #FFF , 1868px 780px #FFF , 1195px 1736px #FFF , 776px 140px #FFF , 780px 958px #FFF , 1494px 1390px #FFF , 659px 863px #FFF , 1439px 1203px #FFF , 1182px 1100px #FFF , 1680px 1792px #FFF , 1939px 1964px #FFF , 605px 589px #FFF , 1511px 1275px #FFF , 1566px 1362px #FFF , 932px 1513px #FFF , 472px 1789px #FFF , 893px 414px #FFF , 1352px 1274px #FFF , 1082px 1249px #FFF , 221px 273px #FFF , 131px 1341px #FFF , 1349px 1202px #FFF , 1431px 593px #FFF , 1731px 1434px #FFF , 165px 1486px #FFF , 1045px 110px #FFF , 1652px 280px #FFF , 265px 1749px #FFF , 1513px 1661px #FFF , 1385px 1318px #FFF , 764px 582px #FFF , 1849px 178px #FFF , 1563px 323px #FFF , 1497px 1774px #FFF , 994px 1615px #FFF , 419px 1551px #FFF , 1483px 1554px #FFF , 335px 332px #FFF , 1400px 1383px #FFF , 562px 1572px #FFF , 1449px 35px #FFF , 751px 1630px #FFF , 196px 74px #FFF , 43px 1697px #FFF , 451px 617px #FFF , 1299px 324px #FFF , 651px 1581px #FFF , 837px 517px #FFF , 1481px 28px #FFF , 557px 163px #FFF , 1080px 1229px #FFF , 842px 1392px #FFF , 120px 1366px #FFF , 1316px 1381px #FFF , 1411px 1154px #FFF , 1587px 565px #FFF , 646px 1187px #FFF , 274px 464px #FFF , 1588px 1150px #FFF , 379px 1485px #FFF , 924px 826px #FFF , 1562px 117px #FFF , 1362px 1267px #FFF , 843px 1714px #FFF , 1743px 439px #FFF , 512px 640px #FFF , 1255px 1195px #FFF , 1510px 1994px #FFF , 90px 290px #FFF , 332px 1411px #FFF , 732px 1278px #FFF , 1084px 1008px #FFF , 1722px 1770px #FFF , 693px 433px #FFF , 1544px 1500px #FFF , 1214px 590px #FFF , 1099px 792px #FFF , 1526px 1890px #FFF , 1843px 1580px #FFF , 1617px 1201px #FFF , 639px 34px #FFF , 1343px 1306px #FFF , 1559px 608px #FFF , 1245px 148px #FFF , 119px 1667px #FFF , 973px 1031px #FFF , 1914px 1069px #FFF , 93px 377px #FFF , 735px 971px #FFF , 701px 652px #FFF , 393px 53px #FFF , 409px 433px #FFF , 1133px 870px #FFF , 1495px 159px #FFF , 1479px 1766px #FFF , 1981px 37px #FFF , 277px 541px #FFF , 1469px 290px #FFF , 352px 413px #FFF , 423px 193px #FFF , 1422px 1394px #FFF , 1345px 1730px #FFF , 677px 268px #FFF , 433px 248px #FFF , 818px 1380px #FFF , 1476px 1819px #FFF , 425px 274px #FFF , 1087px 1912px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 366px 573px #FFF , 1330px 1115px #FFF , 897px 60px #FFF , 1219px 1715px #FFF , 212px 1745px #FFF , 594px 561px #FFF , 806px 1652px #FFF , 760px 209px #FFF , 907px 695px #FFF , 1042px 305px #FFF , 1476px 81px #FFF , 178px 1397px #FFF , 389px 779px #FFF , 1152px 1599px #FFF , 1132px 1446px #FFF , 1679px 1734px #FFF , 1496px 1347px #FFF , 1167px 1313px #FFF , 1049px 1150px #FFF , 509px 853px #FFF , 1188px 424px #FFF , 1925px 468px #FFF , 1598px 1600px #FFF , 989px 224px #FFF , 1598px 1081px #FFF , 973px 1084px #FFF , 1857px 1130px #FFF , 1004px 809px #FFF , 1814px 1449px #FFF , 1796px 379px #FFF , 12px 1064px #FFF , 1355px 1398px #FFF , 307px 1666px #FFF , 1330px 1671px #FFF , 389px 751px #FFF , 864px 74px #FFF , 1888px 1071px #FFF , 993px 385px #FFF , 310px 1681px #FFF , 1919px 12px #FFF , 972px 1371px #FFF , 1497px 253px #FFF , 428px 1794px #FFF , 1773px 391px #FFF , 857px 854px #FFF , 605px 1965px #FFF , 668px 59px #FFF , 959px 1203px #FFF , 837px 1479px #FFF , 1673px 1953px #FFF , 770px 626px #FFF , 1602px 376px #FFF , 70px 1889px #FFF , 400px 1085px #FFF , 491px 1106px #FFF , 1964px 1126px #FFF , 408px 1185px #FFF , 1492px 1364px #FFF , 265px 1838px #FFF , 273px 771px #FFF , 1997px 1773px #FFF , 1728px 207px #FFF , 1917px 1430px #FFF , 1718px 429px #FFF , 54px 242px #FFF , 885px 149px #FFF , 292px 1523px #FFF , 1337px 1809px #FFF , 1686px 1750px #FFF , 273px 307px #FFF , 1170px 290px #FFF , 178px 716px #FFF , 636px 637px #FFF , 1720px 1971px #FFF , 177px 458px #FFF , 153px 1644px #FFF , 1286px 1188px #FFF , 395px 1217px #FFF , 1630px 939px #FFF , 677px 1707px #FFF , 1791px 464px #FFF , 359px 396px #FFF , 799px 1290px #FFF , 353px 344px #FFF , 1122px 1795px #FFF , 1202px 368px #FFF , 1150px 324px #FFF , 1820px 56px #FFF , 344px 318px #FFF , 1710px 508px #FFF , 1832px 1749px #FFF , 1690px 1442px #FFF , 693px 256px #FFF , 208px 576px #FFF , 1411px 446px #FFF , 119px 1160px #FFF , 1737px 292px #FFF , 1144px 105px #FFF , 812px 684px #FFF , 1331px 396px #FFF , 310px 1037px #FFF , 906px 846px #FFF , 594px 299px #FFF , 948px 245px #FFF , 1496px 566px #FFF , 637px 560px #FFF , 1141px 1723px #FFF , 823px 838px #FFF , 419px 1599px #FFF , 1122px 624px #FFF , 1441px 955px #FFF , 714px 1642px #FFF , 700px 593px #FFF , 657px 79px #FFF , 1032px 1864px #FFF , 1392px 1182px #FFF , 852px 649px #FFF , 879px 1630px #FFF , 1269px 703px #FFF , 1548px 1304px #FFF , 1669px 1435px #FFF , 938px 437px #FFF , 1119px 1369px #FFF , 1238px 189px #FFF , 763px 1843px #FFF , 1976px 595px #FFF , 1417px 287px #FFF , 511px 1368px #FFF , 575px 626px #FFF , 580px 1471px #FFF , 654px 841px #FFF , 1652px 1473px #FFF , 1196px 960px #FFF , 150px 1462px #FFF , 228px 643px #FFF , 735px 1916px #FFF , 1337px 1083px #FFF , 249px 17px #FFF , 566px 1550px #FFF , 1348px 1122px #FFF , 225px 1671px #FFF , 325px 1261px #FFF , 999px 1563px #FFF , 459px 1067px #FFF , 1257px 5px #FFF , 1985px 1050px #FFF , 1717px 769px #FFF , 282px 139px #FFF , 311px 1770px #FFF , 493px 121px #FFF , 1522px 1606px #FFF , 188px 1548px #FFF , 1304px 690px #FFF , 1671px 1348px #FFF , 891px 1793px #FFF , 1381px 322px #FFF , 697px 961px #FFF , 121px 376px #FFF , 954px 1974px #FFF , 186px 1370px #FFF , 259px 504px #FFF , 1175px 476px #FFF , 1142px 1809px #FFF , 1522px 1334px #FFF , 1446px 242px #FFF , 7px 1115px #FFF , 1862px 1909px #FFF , 1924px 870px #FFF , 212px 1049px #FFF , 457px 845px #FFF , 118px 1301px #FFF , 916px 582px #FFF , 1110px 994px #FFF , 1614px 269px #FFF , 1138px 678px #FFF , 1769px 732px #FFF , 1208px 643px #FFF , 1650px 1603px #FFF , 241px 1394px #FFF , 917px 1038px #FFF , 27px 1758px #FFF , 756px 1294px #FFF , 238px 1879px #FFF , 843px 1635px #FFF , 1814px 912px #FFF , 1929px 1212px #FFF , 385px 10px #FFF , 244px 7px #FFF , 1200px 1190px #FFF , 1110px 1968px #FFF , 1521px 874px #FFF , 447px 1972px #FFF , 1927px 1016px #FFF , 618px 937px #FFF , 937px 235px #FFF , 1837px 1834px #FFF , 859px 1030px #FFF , 1651px 1979px #FFF , 174px 1145px #FFF , 637px 1236px #FFF , 509px 1185px #FFF , 1517px 1532px #FFF , 722px 591px #FFF , 1809px 84px #FFF , 1763px 1306px #FFF , 1521px 1399px #FFF , 207px 1445px #FFF , 1763px 840px #FFF , 1620px 1200px #FFF , 912px 63px #FFF , 1921px 1714px #FFF , 1284px 924px #FFF , 1201px 1614px #FFF , 1506px 1217px #FFF , 1528px 678px #FFF , 888px 1651px #FFF , 1748px 957px #FFF , 819px 1611px #FFF , 1692px 1960px #FFF , 921px 505px #FFF , 55px 76px #FFF , 1996px 755px #FFF , 1455px 1554px #FFF , 657px 1459px #FFF , 1065px 92px #FFF , 548px 1954px #FFF , 175px 594px #FFF , 266px 345px #FFF , 1568px 995px #FFF , 364px 1797px #FFF , 865px 1428px #FFF , 232px 415px #FFF , 890px 1817px #FFF , 1588px 491px #FFF , 1558px 126px #FFF , 1266px 140px #FFF , 1959px 843px #FFF , 454px 579px #FFF , 146px 1708px #FFF , 1828px 1920px #FFF , 1815px 808px #FFF , 1490px 387px #FFF , 957px 1838px #FFF , 1970px 733px #FFF , 100px 304px #FFF , 861px 1408px #FFF , 250px 202px #FFF , 420px 669px #FFF , 1635px 133px #FFF , 1829px 1098px #FFF , 337px 1527px #FFF , 808px 1724px #FFF , 1529px 81px #FFF , 945px 1933px #FFF , 767px 1443px #FFF , 1898px 1468px #FFF , 1458px 794px #FFF , 1078px 922px #FFF , 1516px 1560px #FFF , 64px 486px #FFF , 823px 1924px #FFF , 1051px 1040px #FFF , 1601px 1737px #FFF , 1791px 404px #FFF , 1620px 790px #FFF , 1022px 426px #FFF , 545px 395px #FFF , 820px 260px #FFF , 1133px 525px #FFF , 79px 1250px #FFF , 1459px 780px #FFF , 1515px 1242px #FFF , 540px 1252px #FFF , 1938px 214px #FFF , 289px 1150px #FFF , 1458px 209px #FFF , 27px 1052px #FFF , 1139px 1145px #FFF , 1660px 979px #FFF , 1551px 1246px #FFF , 271px 689px #FFF , 1695px 1539px #FFF , 1592px 1356px #FFF , 248px 351px #FFF , 1008px 1724px #FFF , 1037px 871px #FFF , 1997px 656px #FFF , 1903px 800px #FFF , 144px 1329px #FFF , 556px 491px #FFF , 265px 1220px #FFF , 1102px 1902px #FFF , 782px 1001px #FFF , 1770px 1299px #FFF , 1032px 1402px #FFF , 844px 1497px #FFF , 1510px 1638px #FFF , 1334px 1867px #FFF , 149px 430px #FFF , 330px 865px #FFF , 659px 260px #FFF , 255px 178px #FFF , 1660px 178px #FFF , 458px 1776px #FFF , 1557px 420px #FFF , 451px 399px #FFF , 987px 1251px #FFF , 653px 1871px #FFF , 1325px 371px #FFF , 402px 255px #FFF , 522px 1374px #FFF , 1733px 530px #FFF , 175px 232px #FFF , 621px 236px #FFF , 1445px 1685px #FFF , 1871px 409px #FFF , 1734px 317px #FFF , 1367px 828px #FFF , 726px 856px #FFF , 134px 105px #FFF , 1374px 1314px #FFF , 859px 475px #FFF , 782px 1702px #FFF , 378px 779px #FFF , 912px 1216px #FFF , 954px 1264px #FFF , 1380px 581px #FFF , 1530px 1043px #FFF , 1489px 853px #FFF , 1689px 1218px #FFF , 1835px 20px #FFF , 383px 806px #FFF , 457px 759px #FFF , 1532px 881px #FFF , 295px 414px #FFF , 459px 1373px #FFF , 1765px 1712px #FFF , 333px 783px #FFF , 1659px 1236px #FFF , 1283px 566px #FFF , 1271px 427px #FFF , 939px 643px #FFF , 918px 416px #FFF , 1635px 829px #FFF , 1321px 1739px #FFF , 231px 725px #FFF , 213px 493px #FFF , 1711px 735px #FFF , 674px 730px #FFF , 1866px 436px #FFF , 103px 1929px #FFF , 735px 1608px #FFF , 92px 1606px #FFF , 1941px 593px #FFF , 1141px 83px #FFF , 445px 122px #FFF , 506px 730px #FFF , 927px 1993px #FFF , 203px 649px #FFF , 1625px 354px #FFF , 1066px 962px #FFF , 1231px 459px #FFF , 1105px 454px #FFF , 1277px 1469px #FFF , 1069px 440px #FFF , 1477px 91px #FFF , 747px 1922px #FFF , 1740px 389px #FFF , 1680px 1272px #FFF , 491px 1434px #FFF , 100px 1691px #FFF , 1966px 34px #FFF , 637px 1168px #FFF , 407px 83px #FFF , 1416px 34px #FFF , 1573px 1413px #FFF , 1363px 298px #FFF , 689px 1396px #FFF , 1991px 289px #FFF , 167px 1002px #FFF , 789px 1716px #FFF , 1269px 662px #FFF , 868px 1012px #FFF , 1532px 451px #FFF , 124px 1840px #FFF , 1567px 1541px #FFF , 163px 450px #FFF , 1178px 794px #FFF , 139px 1739px #FFF , 264px 256px #FFF , 525px 1394px #FFF , 1614px 302px #FFF , 1983px 952px #FFF , 1265px 1667px #FFF , 1287px 556px #FFF , 1199px 1652px #FFF , 1881px 995px #FFF , 1067px 1181px #FFF , 624px 312px #FFF , 1572px 216px #FFF , 1307px 1631px #FFF , 1093px 1665px #FFF , 411px 324px #FFF , 489px 1106px #FFF , 506px 1280px #FFF , 1609px 1933px #FFF , 22px 115px #FFF , 845px 1626px #FFF , 1528px 1742px #FFF , 298px 1671px #FFF , 1377px 1759px #FFF , 872px 1750px #FFF , 1057px 346px #FFF , 395px 1870px #FFF , 249px 1227px #FFF , 1360px 1635px #FFF , 690px 1755px #FFF , 288px 573px #FFF , 215px 507px #FFF , 799px 1604px #FFF , 378px 1243px #FFF , 108px 283px #FFF , 1871px 621px #FFF , 1364px 727px #FFF , 1117px 1926px #FFF , 1034px 762px #FFF , 1755px 886px #FFF , 1212px 574px #FFF , 1219px 1407px #FFF , 82px 283px #FFF , 145px 1508px #FFF , 465px 660px #FFF , 266px 74px #FFF , 1450px 1444px #FFF , 189px 1865px #FFF , 331px 1843px #FFF , 82px 1382px #FFF , 166px 973px #FFF , 828px 1156px #FFF , 1607px 1538px #FFF , 895px 1019px #FFF , 1267px 937px #FFF , 476px 1182px #FFF , 921px 1539px #FFF , 109px 592px #FFF , 1352px 1556px #FFF , 789px 448px #FFF , 382px 1171px #FFF , 614px 838px #FFF , 913px 577px #FFF , 556px 1501px #FFF , 1078px 867px #FFF , 1275px 626px #FFF , 1228px 1552px #FFF , 1548px 1217px #FFF , 1203px 7px #FFF , 824px 1967px #FFF , 1650px 1616px #FFF , 736px 633px #FFF , 723px 1827px #FFF , 1000px 116px #FFF , 1149px 1774px #FFF , 149px 1214px #FFF , 1490px 1555px #FFF , 1281px 881px #FFF , 1972px 1308px #FFF , 1973px 136px #FFF , 497px 870px #FFF , 307px 1368px #FFF , 1179px 1080px #FFF , 1535px 265px #FFF , 569px 854px #FFF , 1536px 1991px #FFF , 285px 630px #FFF , 790px 1668px #FFF , 809px 1686px #FFF , 1907px 972px #FFF , 453px 1001px #FFF , 212px 1415px #FFF , 1840px 1554px #FFF , 91px 369px #FFF , 480px 1251px #FFF , 1968px 266px #FFF , 934px 628px #FFF , 1719px 1987px #FFF , 525px 508px #FFF , 535px 1987px #FFF , 68px 36px #FFF , 1165px 249px #FFF , 1202px 955px #FFF , 268px 1210px #FFF , 458px 1838px #FFF , 1983px 927px #FFF , 696px 1845px #FFF , 1938px 689px #FFF , 788px 977px #FFF , 182px 1116px #FFF , 345px 1929px #FFF , 1783px 1239px #FFF , 797px 1528px #FFF , 1371px 1500px #FFF , 152px 1498px #FFF , 665px 1690px #FFF , 481px 1728px #FFF , 971px 3px #FFF , 191px 1982px #FFF , 1163px 644px #FFF , 1217px 789px #FFF , 1138px 1377px #FFF , 928px 231px #FFF , 959px 1707px #FFF , 291px 377px #FFF , 1605px 1913px #FFF , 431px 826px #FFF , 445px 353px #FFF , 935px 1595px #FFF , 1714px 33px #FFF , 348px 1835px #FFF , 782px 964px #FFF , 1175px 1285px #FFF , 653px 1685px #FFF , 470px 1427px #FFF , 1052px 1433px #FFF , 860px 1614px #FFF , 1169px 872px #FFF , 1863px 1755px #FFF , 1541px 1449px #FFF , 1408px 787px #FFF , 1793px 1921px #FFF , 1973px 1726px #FFF , 577px 138px #FFF , 1856px 818px #FFF , 1219px 548px #FFF , 1634px 32px #FFF , 1775px 1408px #FFF , 16px 631px #FFF , 806px 793px #FFF , 676px 1197px #FFF , 1319px 1327px #FFF , 1710px 1138px #FFF , 793px 1847px #FFF , 1563px 208px #FFF , 621px 1429px #FFF , 1616px 1776px #FFF , 114px 1861px #FFF , 1062px 691px #FFF , 119px 1216px #FFF , 22px 731px #FFF , 604px 1978px #FFF , 1313px 15px #FFF , 769px 925px #FFF , 155px 1615px #FFF , 717px 1712px #FFF , 1321px 577px #FFF , 410px 1508px #FFF , 1111px 1280px #FFF , 757px 1275px #FFF , 1237px 1529px #FFF , 1119px 735px #FFF , 1065px 1014px #FFF , 935px 271px #FFF , 840px 1075px #FFF , 1163px 213px #FFF , 913px 326px #FFF , 271px 205px #FFF , 18px 1313px #FFF , 1293px 1034px #FFF , 1405px 747px #FFF , 1107px 1791px #FFF , 530px 1441px #FFF , 1836px 817px #FFF , 1728px 1396px #FFF , 1050px 441px #FFF , 1431px 1109px #FFF , 1888px 1972px #FFF , 142px 1756px #FFF , 1836px 475px #FFF , 1448px 509px #FFF , 1178px 1669px #FFF , 1460px 981px #FFF , 358px 699px #FFF , 295px 1503px #FFF , 347px 766px #FFF , 467px 708px #FFF , 1876px 673px #FFF , 1259px 1688px #FFF , 627px 690px #FFF , 1455px 1473px #FFF , 1707px 434px #FFF , 542px 1211px #FFF , 1136px 1296px #FFF , 1209px 1007px #FFF , 1208px 651px #FFF , 1868px 780px #FFF , 1195px 1736px #FFF , 776px 140px #FFF , 780px 958px #FFF , 1494px 1390px #FFF , 659px 863px #FFF , 1439px 1203px #FFF , 1182px 1100px #FFF , 1680px 1792px #FFF , 1939px 1964px #FFF , 605px 589px #FFF , 1511px 1275px #FFF , 1566px 1362px #FFF , 932px 1513px #FFF , 472px 1789px #FFF , 893px 414px #FFF , 1352px 1274px #FFF , 1082px 1249px #FFF , 221px 273px #FFF , 131px 1341px #FFF , 1349px 1202px #FFF , 1431px 593px #FFF , 1731px 1434px #FFF , 165px 1486px #FFF , 1045px 110px #FFF , 1652px 280px #FFF , 265px 1749px #FFF , 1513px 1661px #FFF , 1385px 1318px #FFF , 764px 582px #FFF , 1849px 178px #FFF , 1563px 323px #FFF , 1497px 1774px #FFF , 994px 1615px #FFF , 419px 1551px #FFF , 1483px 1554px #FFF , 335px 332px #FFF , 1400px 1383px #FFF , 562px 1572px #FFF , 1449px 35px #FFF , 751px 1630px #FFF , 196px 74px #FFF , 43px 1697px #FFF , 451px 617px #FFF , 1299px 324px #FFF , 651px 1581px #FFF , 837px 517px #FFF , 1481px 28px #FFF , 557px 163px #FFF , 1080px 1229px #FFF , 842px 1392px #FFF , 120px 1366px #FFF , 1316px 1381px #FFF , 1411px 1154px #FFF , 1587px 565px #FFF , 646px 1187px #FFF , 274px 464px #FFF , 1588px 1150px #FFF , 379px 1485px #FFF , 924px 826px #FFF , 1562px 117px #FFF , 1362px 1267px #FFF , 843px 1714px #FFF , 1743px 439px #FFF , 512px 640px #FFF , 1255px 1195px #FFF , 1510px 1994px #FFF , 90px 290px #FFF , 332px 1411px #FFF , 732px 1278px #FFF , 1084px 1008px #FFF , 1722px 1770px #FFF , 693px 433px #FFF , 1544px 1500px #FFF , 1214px 590px #FFF , 1099px 792px #FFF , 1526px 1890px #FFF , 1843px 1580px #FFF , 1617px 1201px #FFF , 639px 34px #FFF , 1343px 1306px #FFF , 1559px 608px #FFF , 1245px 148px #FFF , 119px 1667px #FFF , 973px 1031px #FFF , 1914px 1069px #FFF , 93px 377px #FFF , 735px 971px #FFF , 701px 652px #FFF , 393px 53px #FFF , 409px 433px #FFF , 1133px 870px #FFF , 1495px 159px #FFF , 1479px 1766px #FFF , 1981px 37px #FFF , 277px 541px #FFF , 1469px 290px #FFF , 352px 413px #FFF , 423px 193px #FFF , 1422px 1394px #FFF , 1345px 1730px #FFF , 677px 268px #FFF , 433px 248px #FFF , 818px 1380px #FFF , 1476px 1819px #FFF , 425px 274px #FFF , 1087px 1912px #FFF;
}
#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 460px 1840px #FFF , 1287px 1658px #FFF , 1607px 871px #FFF , 1510px 899px #FFF , 220px 515px #FFF , 300px 108px #FFF , 317px 286px #FFF , 1572px 1656px #FFF , 595px 1066px #FFF , 150px 1948px #FFF , 1121px 1703px #FFF , 1105px 1205px #FFF , 58px 1776px #FFF , 53px 1015px #FFF , 991px 1288px #FFF , 128px 1768px #FFF , 636px 357px #FFF , 598px 1068px #FFF , 1490px 517px #FFF , 750px 589px #FFF , 240px 1022px #FFF , 1532px 1990px #FFF , 1630px 1271px #FFF , 1381px 75px #FFF , 902px 1843px #FFF , 395px 748px #FFF , 1804px 534px #FFF , 118px 193px #FFF , 509px 1735px #FFF , 1420px 809px #FFF , 405px 518px #FFF , 101px 121px #FFF , 1629px 208px #FFF , 338px 44px #FFF , 688px 963px #FFF , 817px 216px #FFF , 18px 1828px #FFF , 150px 1511px #FFF , 1299px 714px #FFF , 1942px 415px #FFF , 1562px 1323px #FFF , 112px 1959px #FFF , 204px 1079px #FFF , 1551px 1550px #FFF , 1541px 1229px #FFF , 249px 204px #FFF , 1814px 799px #FFF , 581px 1562px #FFF , 1204px 141px #FFF , 1075px 543px #FFF , 1985px 1243px #FFF , 628px 1166px #FFF , 172px 245px #FFF , 1812px 1548px #FFF , 1144px 1647px #FFF , 693px 387px #FFF , 1816px 1163px #FFF , 1441px 524px #FFF , 1028px 1027px #FFF , 1841px 1285px #FFF , 3px 1763px #FFF , 1875px 1px #FFF , 1667px 1595px #FFF , 631px 1673px #FFF , 1872px 258px #FFF , 255px 1207px #FFF , 1823px 740px #FFF , 232px 884px #FFF , 598px 1765px #FFF , 1827px 1507px #FFF , 661px 1404px #FFF , 1957px 1653px #FFF , 1146px 1447px #FFF , 546px 1807px #FFF , 747px 966px #FFF , 462px 1672px #FFF , 1893px 614px #FFF , 507px 1000px #FFF , 1970px 579px #FFF , 65px 1622px #FFF , 1768px 1072px #FFF , 800px 1499px #FFF , 538px 1928px #FFF , 762px 177px #FFF , 112px 1114px #FFF , 950px 720px #FFF , 919px 783px #FFF , 863px 956px #FFF , 815px 465px #FFF , 298px 993px #FFF , 1057px 326px #FFF , 1873px 381px #FFF , 1314px 365px #FFF , 433px 1312px #FFF , 568px 1123px #FFF , 1206px 734px #FFF , 125px 189px #FFF , 495px 1917px #FFF , 1259px 1043px #FFF , 610px 1992px #FFF , 554px 1699px #FFF , 208px 621px #FFF , 1515px 1165px #FFF , 1477px 1704px #FFF , 1561px 140px #FFF , 751px 836px #FFF , 1944px 803px #FFF , 4px 581px #FFF , 600px 9px #FFF , 726px 142px #FFF , 84px 1546px #FFF , 3px 125px #FFF , 182px 503px #FFF , 1753px 1478px #FFF , 1681px 40px #FFF , 1328px 358px #FFF , 1334px 121px #FFF , 1004px 1406px #FFF , 1221px 1376px #FFF , 371px 643px #FFF , 1436px 1577px #FFF , 521px 1521px #FFF , 854px 697px #FFF , 373px 1706px #FFF , 1743px 1469px #FFF , 902px 1866px #FFF , 399px 1048px #FFF , 405px 1116px #FFF , 816px 89px #FFF , 13px 1011px #FFF , 1434px 128px #FFF , 1070px 198px #FFF , 1600px 1271px #FFF , 197px 875px #FFF , 1993px 811px #FFF , 196px 806px #FFF , 802px 387px #FFF , 1651px 214px #FFF , 30px 812px #FFF , 1064px 388px #FFF , 1116px 51px #FFF , 15px 362px #FFF , 295px 983px #FFF , 259px 455px #FFF , 1054px 1389px #FFF , 266px 1817px #FFF , 991px 1147px #FFF , 284px 1000px #FFF , 526px 824px #FFF , 1792px 1010px #FFF , 550px 154px #FFF , 764px 1321px #FFF , 1415px 717px #FFF , 660px 1106px #FFF , 1421px 511px #FFF , 1929px 841px #FFF , 1099px 795px #FFF , 145px 1522px #FFF , 378px 1573px #FFF , 69px 1253px #FFF , 1746px 842px #FFF , 207px 1797px #FFF , 1656px 450px #FFF , 65px 684px #FFF , 1174px 454px #FFF , 1735px 762px #FFF , 323px 1174px #FFF , 267px 1271px #FFF , 1651px 256px #FFF , 847px 1006px #FFF , 754px 910px #FFF , 1460px 1642px #FFF , 1660px 57px #FFF , 1808px 298px #FFF , 961px 1012px #FFF , 1579px 1534px #FFF , 223px 1404px #FFF , 1336px 510px #FFF , 1344px 1660px #FFF , 59px 294px #FFF , 284px 336px #FFF , 885px 1922px #FFF , 150px 681px #FFF , 1780px 118px #FFF , 892px 927px #FFF , 1690px 800px #FFF , 528px 157px #FFF , 682px 496px #FFF , 546px 1372px #FFF , 145px 200px #FFF , 1004px 1071px #FFF , 333px 682px #FFF , 1776px 612px #FFF , 1437px 754px #FFF , 1258px 224px #FFF , 1922px 804px #FFF , 1232px 500px #FFF , 1385px 168px #FFF , 1452px 949px #FFF , 1518px 842px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 460px 1840px #FFF , 1287px 1658px #FFF , 1607px 871px #FFF , 1510px 899px #FFF , 220px 515px #FFF , 300px 108px #FFF , 317px 286px #FFF , 1572px 1656px #FFF , 595px 1066px #FFF , 150px 1948px #FFF , 1121px 1703px #FFF , 1105px 1205px #FFF , 58px 1776px #FFF , 53px 1015px #FFF , 991px 1288px #FFF , 128px 1768px #FFF , 636px 357px #FFF , 598px 1068px #FFF , 1490px 517px #FFF , 750px 589px #FFF , 240px 1022px #FFF , 1532px 1990px #FFF , 1630px 1271px #FFF , 1381px 75px #FFF , 902px 1843px #FFF , 395px 748px #FFF , 1804px 534px #FFF , 118px 193px #FFF , 509px 1735px #FFF , 1420px 809px #FFF , 405px 518px #FFF , 101px 121px #FFF , 1629px 208px #FFF , 338px 44px #FFF , 688px 963px #FFF , 817px 216px #FFF , 18px 1828px #FFF , 150px 1511px #FFF , 1299px 714px #FFF , 1942px 415px #FFF , 1562px 1323px #FFF , 112px 1959px #FFF , 204px 1079px #FFF , 1551px 1550px #FFF , 1541px 1229px #FFF , 249px 204px #FFF , 1814px 799px #FFF , 581px 1562px #FFF , 1204px 141px #FFF , 1075px 543px #FFF , 1985px 1243px #FFF , 628px 1166px #FFF , 172px 245px #FFF , 1812px 1548px #FFF , 1144px 1647px #FFF , 693px 387px #FFF , 1816px 1163px #FFF , 1441px 524px #FFF , 1028px 1027px #FFF , 1841px 1285px #FFF , 3px 1763px #FFF , 1875px 1px #FFF , 1667px 1595px #FFF , 631px 1673px #FFF , 1872px 258px #FFF , 255px 1207px #FFF , 1823px 740px #FFF , 232px 884px #FFF , 598px 1765px #FFF , 1827px 1507px #FFF , 661px 1404px #FFF , 1957px 1653px #FFF , 1146px 1447px #FFF , 546px 1807px #FFF , 747px 966px #FFF , 462px 1672px #FFF , 1893px 614px #FFF , 507px 1000px #FFF , 1970px 579px #FFF , 65px 1622px #FFF , 1768px 1072px #FFF , 800px 1499px #FFF , 538px 1928px #FFF , 762px 177px #FFF , 112px 1114px #FFF , 950px 720px #FFF , 919px 783px #FFF , 863px 956px #FFF , 815px 465px #FFF , 298px 993px #FFF , 1057px 326px #FFF , 1873px 381px #FFF , 1314px 365px #FFF , 433px 1312px #FFF , 568px 1123px #FFF , 1206px 734px #FFF , 125px 189px #FFF , 495px 1917px #FFF , 1259px 1043px #FFF , 610px 1992px #FFF , 554px 1699px #FFF , 208px 621px #FFF , 1515px 1165px #FFF , 1477px 1704px #FFF , 1561px 140px #FFF , 751px 836px #FFF , 1944px 803px #FFF , 4px 581px #FFF , 600px 9px #FFF , 726px 142px #FFF , 84px 1546px #FFF , 3px 125px #FFF , 182px 503px #FFF , 1753px 1478px #FFF , 1681px 40px #FFF , 1328px 358px #FFF , 1334px 121px #FFF , 1004px 1406px #FFF , 1221px 1376px #FFF , 371px 643px #FFF , 1436px 1577px #FFF , 521px 1521px #FFF , 854px 697px #FFF , 373px 1706px #FFF , 1743px 1469px #FFF , 902px 1866px #FFF , 399px 1048px #FFF , 405px 1116px #FFF , 816px 89px #FFF , 13px 1011px #FFF , 1434px 128px #FFF , 1070px 198px #FFF , 1600px 1271px #FFF , 197px 875px #FFF , 1993px 811px #FFF , 196px 806px #FFF , 802px 387px #FFF , 1651px 214px #FFF , 30px 812px #FFF , 1064px 388px #FFF , 1116px 51px #FFF , 15px 362px #FFF , 295px 983px #FFF , 259px 455px #FFF , 1054px 1389px #FFF , 266px 1817px #FFF , 991px 1147px #FFF , 284px 1000px #FFF , 526px 824px #FFF , 1792px 1010px #FFF , 550px 154px #FFF , 764px 1321px #FFF , 1415px 717px #FFF , 660px 1106px #FFF , 1421px 511px #FFF , 1929px 841px #FFF , 1099px 795px #FFF , 145px 1522px #FFF , 378px 1573px #FFF , 69px 1253px #FFF , 1746px 842px #FFF , 207px 1797px #FFF , 1656px 450px #FFF , 65px 684px #FFF , 1174px 454px #FFF , 1735px 762px #FFF , 323px 1174px #FFF , 267px 1271px #FFF , 1651px 256px #FFF , 847px 1006px #FFF , 754px 910px #FFF , 1460px 1642px #FFF , 1660px 57px #FFF , 1808px 298px #FFF , 961px 1012px #FFF , 1579px 1534px #FFF , 223px 1404px #FFF , 1336px 510px #FFF , 1344px 1660px #FFF , 59px 294px #FFF , 284px 336px #FFF , 885px 1922px #FFF , 150px 681px #FFF , 1780px 118px #FFF , 892px 927px #FFF , 1690px 800px #FFF , 528px 157px #FFF , 682px 496px #FFF , 546px 1372px #FFF , 145px 200px #FFF , 1004px 1071px #FFF , 333px 682px #FFF , 1776px 612px #FFF , 1437px 754px #FFF , 1258px 224px #FFF , 1922px 804px #FFF , 1232px 500px #FFF , 1385px 168px #FFF , 1452px 949px #FFF , 1518px 842px #FFF;
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 968px 971px #FFF , 556px 1055px #FFF , 1665px 586px #FFF , 141px 174px #FFF , 1643px 742px #FFF , 316px 1830px #FFF , 748px 728px #FFF , 786px 1890px #FFF , 1119px 1593px #FFF , 1155px 982px #FFF , 310px 519px #FFF , 460px 1294px #FFF , 20px 1166px #FFF , 1755px 1711px #FFF , 1330px 1511px #FFF , 224px 1569px #FFF , 194px 104px #FFF , 1055px 398px #FFF , 1175px 348px #FFF , 1139px 1144px #FFF , 1757px 114px #FFF , 389px 1328px #FFF , 540px 160px #FFF , 879px 1758px #FFF , 1731px 431px #FFF , 1894px 1496px #FFF , 675px 1162px #FFF , 894px 720px #FFF , 200px 1968px #FFF , 1789px 272px #FFF , 1936px 30px #FFF , 892px 368px #FFF , 1303px 1332px #FFF , 1570px 1633px #FFF , 1680px 1755px #FFF , 166px 1681px #FFF , 1233px 1390px #FFF , 1642px 1890px #FFF , 376px 660px #FFF , 935px 1522px #FFF , 301px 35px #FFF , 1568px 274px #FFF , 339px 1627px #FFF , 1110px 1223px #FFF , 454px 1068px #FFF , 712px 709px #FFF , 723px 1712px #FFF , 325px 684px #FFF , 1192px 1923px #FFF , 597px 673px #FFF , 1648px 1353px #FFF , 287px 287px #FFF , 1424px 1877px #FFF , 79px 923px #FFF , 413px 1061px #FFF , 668px 793px #FFF , 1458px 1781px #FFF , 1133px 712px #FFF , 1451px 1349px #FFF , 943px 526px #FFF , 1177px 1023px #FFF , 1615px 1119px #FFF , 341px 1644px #FFF , 277px 1896px #FFF , 1743px 1409px #FFF , 460px 364px #FFF , 750px 1003px #FFF , 1014px 1124px #FFF , 1566px 1716px #FFF , 961px 1621px #FFF , 1101px 1356px #FFF , 1170px 1060px #FFF , 68px 224px #FFF , 1021px 1254px #FFF , 1627px 1477px #FFF , 477px 653px #FFF , 1530px 209px #FFF , 475px 593px #FFF , 127px 696px #FFF , 1415px 665px #FFF , 502px 908px #FFF , 668px 1760px #FFF , 624px 926px #FFF , 1132px 294px #FFF , 843px 868px #FFF , 498px 1308px #FFF , 1995px 1448px #FFF , 1252px 1133px #FFF , 1221px 859px #FFF , 1857px 1976px #FFF , 761px 922px #FFF , 363px 813px #FFF , 1146px 664px #FFF , 556px 167px #FFF , 987px 265px #FFF , 1420px 366px #FFF , 1412px 1854px #FFF , 1467px 1074px #FFF , 1872px 359px #FFF , 278px 105px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 968px 971px #FFF , 556px 1055px #FFF , 1665px 586px #FFF , 141px 174px #FFF , 1643px 742px #FFF , 316px 1830px #FFF , 748px 728px #FFF , 786px 1890px #FFF , 1119px 1593px #FFF , 1155px 982px #FFF , 310px 519px #FFF , 460px 1294px #FFF , 20px 1166px #FFF , 1755px 1711px #FFF , 1330px 1511px #FFF , 224px 1569px #FFF , 194px 104px #FFF , 1055px 398px #FFF , 1175px 348px #FFF , 1139px 1144px #FFF , 1757px 114px #FFF , 389px 1328px #FFF , 540px 160px #FFF , 879px 1758px #FFF , 1731px 431px #FFF , 1894px 1496px #FFF , 675px 1162px #FFF , 894px 720px #FFF , 200px 1968px #FFF , 1789px 272px #FFF , 1936px 30px #FFF , 892px 368px #FFF , 1303px 1332px #FFF , 1570px 1633px #FFF , 1680px 1755px #FFF , 166px 1681px #FFF , 1233px 1390px #FFF , 1642px 1890px #FFF , 376px 660px #FFF , 935px 1522px #FFF , 301px 35px #FFF , 1568px 274px #FFF , 339px 1627px #FFF , 1110px 1223px #FFF , 454px 1068px #FFF , 712px 709px #FFF , 723px 1712px #FFF , 325px 684px #FFF , 1192px 1923px #FFF , 597px 673px #FFF , 1648px 1353px #FFF , 287px 287px #FFF , 1424px 1877px #FFF , 79px 923px #FFF , 413px 1061px #FFF , 668px 793px #FFF , 1458px 1781px #FFF , 1133px 712px #FFF , 1451px 1349px #FFF , 943px 526px #FFF , 1177px 1023px #FFF , 1615px 1119px #FFF , 341px 1644px #FFF , 277px 1896px #FFF , 1743px 1409px #FFF , 460px 364px #FFF , 750px 1003px #FFF , 1014px 1124px #FFF , 1566px 1716px #FFF , 961px 1621px #FFF , 1101px 1356px #FFF , 1170px 1060px #FFF , 68px 224px #FFF , 1021px 1254px #FFF , 1627px 1477px #FFF , 477px 653px #FFF , 1530px 209px #FFF , 475px 593px #FFF , 127px 696px #FFF , 1415px 665px #FFF , 502px 908px #FFF , 668px 1760px #FFF , 624px 926px #FFF , 1132px 294px #FFF , 843px 868px #FFF , 498px 1308px #FFF , 1995px 1448px #FFF , 1252px 1133px #FFF , 1221px 859px #FFF , 1857px 1976px #FFF , 761px 922px #FFF , 363px 813px #FFF , 1146px 664px #FFF , 556px 167px #FFF , 987px 265px #FFF , 1420px 366px #FFF , 1412px 1854px #FFF , 1467px 1074px #FFF , 1872px 359px #FFF , 278px 105px #FFF;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
/**************************************
	07 - INTERVIEW END
**************************************/